<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="LoginForm"   loginUrl="Login.aspx" timeout="30" >
      </forms>
    </authentication>
    <sessionState cookieless="AutoDetect" timeout="20"></sessionState>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalendarServices" />
        <binding name="BasicHttpBinding_EulogyServices" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webstrar36.fulton.asu.edu/Page3/EulogyService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_EulogyServices"
        contract="SaveFuneral.EulogyServices" name="BasicHttpBinding_EulogyServices" />
      <endpoint address="http://webstrar36.fulton.asu.edu/Page1/CalendarServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalendarServices"
        contract="CalendarService.ICalendarServices" name="BasicHttpBinding_ICalendarServices" />
      <endpoint address="http://webstrar36.fulton.asu.edu/Page6/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="AWeirdPricingService.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://neptune.fulton.ad.asu.edu/WSRepository/Services/ImageVerifierSvc/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="ImageService.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>